[user]
	name = Roman Vesely
	email = crazko@gmail.com

[core]
	editor = vim
	excludesfile = ~/.gitignore

[commit]
	template = ~/.gitmessage
	verbose = true

[include]
	path = .gitconfig-extended

[push]
	default = current
	autoSetupRemote = true

[alias]
	s = status --short
	co = checkout
	c = commit
	cm = commit -m
	ca = commit --amend
	fixup = commit --amend --no-edit
	stats = shortlog --summary --numbered --all --no-merges --since='2 weeks'
	me = log --oneline --all --author="Roman" --since='2 weeks' --pretty=format:'%C(yellow)%h %C(blue)[%ad] %Creset%s %C(green bold)%D' --date=short
	ls = log --pretty=format:'%C(yellow)%h %C(blue)[%ad] %C(green bold)%D %Creset%s%C(red) [%cn%Creset %ce%C(red)]' --decorate --date=relative
	dog = log --all --decorate --oneline --graph
	pf = push --force-with-lease

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[help]
	autocorrect = prompt

[branch]
	sort = -committerdate

[column]
	ui = auto

[tag]
	sort = version:refname

[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true

[fetch]
	prune = true
	pruneTags = true
	all = true

[rerere]
	enabled = true
	autoupdate = true

[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
